body {
	background-color: #fff;
	color: #333;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	height:101%; /* Mozialla-Zucken wegen Scrollbalken */
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
td.ghelp {
	text-align:left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: #000000;
}
p.hilfetext {
	text-align:left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: #870D0D;
}
p.zitat {
	text-align:left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bolder;
	color: #000000;
}
.statusbar {
	text-align:left;
	width:100px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: Black;
	font-weight: bold;
}
.entry {
	padding:10px;
	text-align:left;
	-moz-border-radius: 15px;
	width:580px;
	margin-right: auto;
	margin-left: auto;
	background-color: #B7CEF6;
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: x-small;
	font-weight: bolder;
	color: Black;
}
.estra {
	text-align:left;
	background-color: #CEE9F0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: Black;
	padding-left: 12;
}
.gray {
	background-color: #555555;
}
.darkgrey {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: #616161;
}
.backgrey{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	background-color: #616161;
	color: #fff;
	-moz-border-radius: 4px 4px 0px 0px;
	 margin-bottom: -15px;
	 padding-left: 15px;
	 padding-right: 15px;
	 border: 0px;
}
.black {
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bolder;
}

.ListLinie0{
	background-color: #E4F2F5;
}
.ListLinie1{
	background-color: #CEE9F0;
}

.silvertext {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bolder;
	color: Silver;
}
.text {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
	color: #000; 
	border: 0;
}
a:visited { color: #666; }

img {
border:0px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid 'red';
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
div.memo {
	width:600px;
	margin-right: auto;
	margin-left: auto;	
	
}
div.user {
	/*padding:10px;*/
	width:600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;	
	border: 1px solid grey;
	
}
div.frame {
	/*padding:10px;*/
	width:600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;	
	border: 1px solid withe;
	
}
div.left{
	text-align:left;
	width:400px;
}
div.login {
	text-align:left;
	border: 1px;
	margin:10px;
	padding:10px;
	background-color: #FFE0C3;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
	font-weight: bolder;
	margin-top: 20;
	-moz-border-radius: 12px
}
div.adress {
	text-align:left;
	border: 1px;
	margin:10px;
	padding:10px;
	background-color: #F1EAA9;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
	font-weight: bolder;
	margin-top: 20;
	-moz-border-radius: 12px
}
div.know {margin-top: 20;
	text-align:left;
	border: 1px;
	margin:10px;
	padding:10px;
	background-color: #EAEAEA;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
	font-weight: bolder;
	-moz-border-radius: 12px;
	margin-top: 20;
}
div.unavi {margin-top: 20;
	text-align:left;
	border: 1px;
	margin:10px;
	padding:10px;
	background-color: #fff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
	font-weight: bolder;
	-moz-border-radius: 12px;
	margin-top: 20;
}
div.right {
	width: 150px;
	float:right;
	}
div.pic {
	float:right;
	margin:10px;
	padding:10px;
	width: 150px;
	border: 1px;
	background-color: #B2F0B3;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
	font-weight: bolder;
	-moz-border-radius: 12px;
}

div.position {
	margin-top: 10;
}
div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

div.workflow {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: Black;
	-moz-border-radius: 7px;
   margin-top:5px;
   margin-right: auto;
   margin-left: auto;
   background: #FFF987;
   width:550px;
   padding:10px;
   text-align:left;
}
div.workflow_container {
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: x-small;
   font-weight: bolder;
   color: Black;
   background: #CCF987;
   padding:10px;
   width:530px;
   text-align:left;
   margin-right: auto;
   margin-left: auto;
}

div.system_message {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: Black;
	-moz-border-radius: 5px;
   background: #ffff00 ;
   width:180px;
   text-align:center;
}
div.helper{
	background:white;
	-moz-border-radius: 5px;
	border-top:2px solid  #5e5e5e;
	border-left:2px solid  #5e5e5e;
	border-bottom:2px solid  #c7c5c5;
	border-right:2px solid  #c7c5c5;
	float: right;
	width:  80px;
	/*height: 80px;*/
	elevation: above;
	padding:5px;
	text-align:left;	
}
div.betreuer{
	background:white;
	-moz-border-radius: 5px;
	border-top:2px solid  #5e5e5e;
	border-left:2px solid  #5e5e5e;
	border-bottom:2px solid  #c7c5c5;
	border-right:2px solid  #c7c5c5;
	/*float: left;*/
	padding:5px;
	text-align:left;	
	max-width:382px; 
	max-height:150px; 
	overflow:auto;
}
