body {
	background-color: #fff;
	color: #333;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
td.statusbar {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: Black;
	font-weight: bold;
}
td.entry {
	background-color: #B7CEF6;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: Black;
}
td.estra {
	background-color: #CEE9F0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: Black;
	padding-left: 12;
}
td.gray {
	background-color: #555555;
}
td.darkgrey, div.darkgrey {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: #616161;
}
td.black {
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bolder;
}

.ListLinie0{
	background-color: #E4F2F5;
}
.ListLinie1{
	background-color: #CEE9F0;
}

td.silvertext, div.silvertext {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bolder;
	color: Silver;
}
td.text {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid 'red';
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
div.user {
	width: 550;
	padding-left: 10;
	border: 1px solid grey;
	padding-bottom: 20;
	margin-bottom: 20;
}
div.login {
	width: 250;
	padding-left: 10;
	border: 1px;
	background-color: #FFE0C3;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
	font-weight: bolder;
	margin-top: 20;
	-moz-border-radius: 12px
}
div.adress {
	width: 250;
	border: 1px;
	padding-left: 10;
	background-color: #F1EAA9;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
	font-weight: bolder;
	margin-top: 20;
	-moz-border-radius: 12px
}
div.know {
	width: 250;
	padding-left: 10;
	border: 1px;
	background-color: #EAEAEA;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
	font-weight: bolder;
	-moz-border-radius: 12px;
	margin-top: 10;
}
div.pic {
	width: 150;
	border: 1px;
	background-color: #B2F0B3;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: Black;
	font-weight: bolder;
	-moz-border-radius: 12px;
	margin-top: 20;
	margin-left: 30;
	height: 165;
	padding-top: 12;
}
div.position {
	margin-top: 10;
}
div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

/* 
 * TODO: Abklären ob das rot wirklich nötig ist
 *       und ob nicht evtl die width etwas zu klein ist
 */

div.workflow {
   background-color:#ff8080;
   width:450px;
   border:2px solid red;
   padding:10px;
   text-align:left;
   width:300
}
