<%= error_messages_for 'cost' %>

<!--[form:cost]-->
<p><label for="cost_euro_per_km">Euro per km</label><br/>
<%= text_field 'cost', 'euro_per_km' , 'size' => 8 %></p>

<p><label for="cost_euro_per_hour">Euro per hour</label><br/>
<%= text_field 'cost', 'euro_per_hour', 'size' => 8  %></p>
<!--[eoform:cost]-->

