<% for column in Cost.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @cost.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @cost %> |
<%= link_to 'Back', :action => 'list' %>
