<div align="center" width="600px" >
<!-- Aktuelle Tickets -->
	<h1>Aktuelle Tickets</h1>
	<%= render_partial('list')%>
<!-- Aktuelle Tickets Ende -->
<!-- Bearbeitete Tickets -->
	<h1>Bearbeitete Tickets</h1>
	<%= render_partial('list')%>
<!-- Bearbeitete Tickets Ende -->
<!-- Beendete Tickets -->
	<h1>Beendete Tickets</h1>
	<%= render_partial('list')%>
<!-- Beendete Tickets Ende -->
</div>
