<%= render_partial 'navi' %>

<div class="statusbar">
  <%= flash[:notice] %>
</div>

<span class="backgrey">Bisherige Einsätze</span>

<div id="my_results" class="user">
  <% if @session[:rechte] == 1 || @session[:rechte] == 2 %>
    <%= render_partial('list') %>
  <% end %>
  <% if @session[:rechte] == 3 || @session[:rechte] == 4 %>
    <%= render_partial('list_betreuer') %>
  <% end %>
</div><br/>
