<%= render_partial 'navi' %>

<div class="statusbar">
  <%= flash[:notice] %>
</div>

<span class="backgrey">Neuer Einsatz</span>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Eintragen" %>
<%= end_form_tag %>
</br></br>
<%= button_to 'Zurück', :action => 'list' %>