<%  #Hiermit werden die Suchergebnisse formatiert wenn man im tmpl_zuweisen einen suchbegriff eingibt
#Suchbegriffe koennen sein "user_name, user_vorname und user_login" aber vorsicht es beachtet Gross und Kleinschreibung
%>

<% if @results.empty? %>
'<%=h @phrase %>' ist kein Betreuer! <br> Sie k&ouml;nnen nach Login, Nachname oder Vorname suchen. <br>Bitte beachten Sie dabei Gross- und Kleinschreibung
<% else %>
<%= render_partial 'results' %>
<%end%>
<br>
