<% for column in Workflow.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @workflow.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @workflow %> |
<%= link_to 'Back', :action => 'list' %>
