Hallo <%= @user.user_vorname %> <%= @user.user_name %>,

Ihre Daten sind: 
-----------------------------------------
   Login:   	<%= @user.login%>
Password:	<%= @pass %> 
-----------------------------------------

https://help.stsweilburg.de/users/show/<%= @user.id %>

Codered - Das Trouble Ticketetsystem der Staatlichen Techniker Schule Weilburg
-------------------------------------------------------------------------------
		Codered - Staatliche Technikerschule Weilburg 
		Frankfurter Straße. 40        Tel.: +49 (0)6471 9261 - 0
		35781 Weilburg/Lahn           E-Mail: mail@stsweilburg.de
-------------------------------------------------------------------------------
