<%= render_partial 'navi' %>
<br />
<span class="backgrey">&nbsp;&nbsp; Neuer Client &nbsp;&nbsp;  </span>
<div class="user">
	<div class="left">
		<div class="adress">
			<%= start_form_tag({:user => @session[:user] , :action => 'create'} , :multipart => true)%>
  			<%= render_partial 'form' %>
  			<%= submit_tag "Erstellen" %>
			<%= end_form_tag %>

		</div>
	</div>
</div>

